@require './config'

.search-box{
  margin: 0
  
  input {
    font-size: 1.4rem;
    padding: .5rem 1rem .5rem 3rem;
    border: 1px solid $borderColor;
    border-radius: 10rem;
    outline: none;
    color: $textColor;
    width: auto
    background-size: 1.5rem
    background-position: left 1rem center;
  }

  input:focus {
    border-color: $primary
  }

  .suggestion a {
    color $textColor
  }
  
  .suggestion.focused a {
    color: $primary  
  }
    
}
  

header nav.nav-links {
  flex-grow: 1;
  font-weight: 100;
  font-size: 2.8rem;
  list-style: none;
  margin: 0 2rem;
  padding: 0;
  display: flex;
  justify-content: center;

  .nav-item {
    display: block;
    margin: 0
    line-height: inherit
  }

  .nav-item a.nav-link {
    padding: 1rem 1.6rem;
    cursor: pointer;
    position: relative;
    border: 0

    &:before, &:after {
      box-sizing: border-box;
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      transition: all .3s ease-in-out;
      transition-property: width, height;
      opacity: 0;
      border: 1px solid $primary;
    }

    &:before {
      top: .5rem;
      left: .5rem;
      border-right: 0;
      border-bottom: 0;
    }

    &:after {
      bottom: .5rem;
      right: .5rem;
      border-left: 0;
      border-top: 0;
    }

    &:hover:before,
    &:hover:after {
      opacity: 1;
      height: 1.2rem;
      width: 1.2rem;
    }
  }
}