$primary= #793d3d
$lightred= #b15a5a
$yellow= #eee857
$grey= #696969
$lightgrey= #cccccc
$background= #fff

// vuepress colors
$accentColor = $primary
$textColor = $grey
$borderColor = #eaecef
$codeBgColor = #eee
$arrowBgColor = $lightgrey
